table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
  word-break: break-all;
}

.events-wrapper {
  padding: 24px;
}

.table-header {
  display: flex;

  button {
    white-space: nowrap;
    min-height: 54px;
    margin-left: 12px;
  }
}

.image-preview img {
  max-width: 100%;
  max-height: 150px;
  margin-top: 10px;
}

.event-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
}
