.dashboard-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: calc(100% - 64px);
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 12px;
  gap: 24px;
  flex-grow: 1;
}

.example-card {
  flex-grow: 1;
  margin: 0 10px;
  max-width: 50%;
  min-width: 30%;
}

mat-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

mat-card-content {
  flex-grow: 1;
  padding-left: 12px;
}

@media (max-width: 600px) {
  .row {
    flex-direction: column;
    align-items: center;
  }

  .example-card {
    width: 100%;
    margin: 10px 0;
    max-width: 100%;
    mat-card-content {
      min-height: 120px;
    }
  }
}