<div class="upload-container">
  <form [formGroup]="uploadForm" (ngSubmit)="uploadFile()" class="upload-form">
    <div class="audience-type-wrapper">
      <mat-form-field appearance="fill">
        <mat-label>Hedef Kitle</mat-label>
        <mat-select formControlName="audienceType" required>
          <mat-option
            *ngFor="let type of availableAudienceTypes"
            [value]="type.value"
          >
            {{ type.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" *ngIf="showCityField">
        <mat-label>Şehir</mat-label>
        <mat-select
          formControlName="city"
          (selectionChange)="onCityChange($event.value)"
        >
          <mat-option *ngFor="let city of availableCities" [value]="city.value">
            {{ city.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" *ngIf="showDistrictField">
        <mat-label>İlçe</mat-label>
        <mat-select formControlName="district">
          <mat-option
            *ngFor="let district of filteredDistricts"
            [value]="district"
          >
            {{ district }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="triggerFileInput()"
      >
        Dosya Seç
      </button>
      <input type="file" hidden #fileInput (change)="onFileSelected($event)" />
      <span *ngIf="selectedFile">{{ selectedFile.name }}</span>

      <button
        mat-raised-button
        color="accent"
        type="submit"
        [disabled]="!uploadForm.valid || !selectedFile"
      >
        Yükle
      </button>
    </div>
  </form>
</div>

<hr />

<div class="documents-table">
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    *ngIf="dataSource.data.length > 0"
  >
    <ng-container matColumnDef="fileName">
      <th mat-header-cell *matHeaderCellDef>Dosya Adı</th>
      <td mat-cell *matCellDef="let element">{{ element.fileName }}</td>
    </ng-container>

    <ng-container matColumnDef="uploadedBy">
      <th mat-header-cell *matHeaderCellDef>Yükleyen</th>
      <td mat-cell *matCellDef="let element">{{ element.uploadedBy }}</td>
    </ng-container>

    <ng-container matColumnDef="uploadDate">
      <th mat-header-cell *matHeaderCellDef>Tarih</th>
      <td mat-cell *matCellDef="let element">
        {{ element.uploadDate | date : "short" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="audience">
      <th mat-header-cell *matHeaderCellDef>Hedef</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.city"> {{ element.city }}</span>
        <span *ngIf="element.district"> / {{ element.district }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>İşlemler</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-button
          color="primary"
          (click)="downloadFile(element.filePath)"
        >
          İndir
        </button>
        <button
          mat-button
          color="warn"
          (click)="deleteFile(element.id, element.filePath)"
        >
          Sil
        </button>
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="[
        'fileName',
        'uploadedBy',
        'uploadDate',
        'audience',
        'actions'
      ]"
    ></tr>
    <tr
      mat-row
      *matRowDef="
        let row;
        columns: ['fileName', 'uploadedBy', 'uploadDate', 'audience', 'actions']
      "
    ></tr>
  </table>

  <p *ngIf="dataSource.data.length === 0" class="no-documents">
    Henüz yüklenmiş dosya yok.
  </p>
</div>
