:host {
    display: block;
    padding: 1rem;
  }
  
  mat-dialog-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
  
    @media (max-width: 600px) {
      max-width: 90%;
    }
  }
  
  mat-form-field {
    width: 100%;
  }
  