table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

.users-wrapper {
  padding: 24px;
}

@media (max-width: 768px) {
  td,
  th {
    word-break: break-all;
  }
}

.table-header {
  display: flex;

  button {
    white-space: nowrap;
    min-height: 54px;
    margin-left: 12px;
  }
}
