:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100% - 64px);
}

.signInCard {
  width: fit-content;
  margin: auto;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

mat-form-field {
  width: 100%;
  min-width: 350px;
}

.signInForm {
  display: flex;
  flex-direction: column;

  button {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

mat-card-title {
  margin-bottom: 12px;
  margin-top: 12px;
}

.error {
  padding: 16px;
  width: 100%;
  color: red;
}
