.filter-section {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 24px;

    button {
        height: 56px;
    }
}

.reports-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background-color: white;
    margin: 0;
    box-sizing: border-box;
  
    mat-card {
      padding: 16px;
      flex-grow: 1;
      margin: 0 10px;
      min-width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .total-events-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .total-events-number {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
  }

  @media (max-width: 600px) {
    .row {
      flex-direction: column;
      align-items: center;
    }
  
    mat-card {
      width: 100%;
      margin: 10px 0;
      max-width: 100%;
      mat-card-content {
        min-height: 120px;
      }
    }

    .filter-section {
      display: flex;
      flex-wrap: wrap;

      mat-form-field {
        width: 100%;
        min-width: 100%;
      }
    }

  }

  @media (min-width: 600px) {
    mat-card {
      max-width: 50%;
    }
  }