<div class="announcements-wrapper">
  <div class="table-header">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. Mia"
        #input
      />
    </mat-form-field>
    <button mat-raised-button (click)="onAddNewAnnouncement()">
      Etkinlik Ekle
    </button>
  </div>

  <div class="table-container">
    <mat-table #table [dataSource]="dataSource" matSort>
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Başlık</mat-header-cell
        >
        <mat-cell *matCellDef="let row">{{ row.title }}</mat-cell>
      </ng-container>

      <!-- Audience Type Column -->
      <ng-container matColumnDef="audienceType">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Hedef Kitle
        </mat-header-cell>
        <mat-cell *matCellDef="let row">{{
          getAudienceText(row.audienceType)
        }}</mat-cell>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Tarih
        </mat-header-cell>
        <mat-cell *matCellDef="let row">{{ formatDate(row.date) }}</mat-cell>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Aksiyonlar</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button
            mat-icon-button
            color="primary"
            (click)="onEditAnnouncement($event, row)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            (click)="deleteAnnouncement($event, row)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="clickable-row"
        (click)="openDisplayDialog(row)"
      ></mat-row>
    </mat-table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25]"
      aria-label="Sayfa Seç"
    ></mat-paginator>
  </div>
</div>
