.toolbar-item-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  img {
    cursor: pointer;
  }
}

.account-info {
  padding-left: 12px;
  padding-right: 12px;
}

.app-container {
  height: calc(100% - 64px);
  margin: 0;
}
.app-sidenav {
  width: 230px;
}
.app-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
